.PetiteLigne{
  font-size: 12px;
  position: center;
  text-align: center;
}

.text-xs{
  color: #fc8c79;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.lienPP{
  color: #fc8c79;
}
