.surTitrePaiement{
  color: #fc8c79;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.titrepaiement{
  font-size: 40px;
  color: #fc8c79;
}

.typePremium{
  font-size: 20px;
  font-weight: bold;
}

.euros{
  font-size: 16px;
}

.infoAbo{
  font-size: 10px;
}